Repository ahjohannessen/sec: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label fs2 PRs, Label fs2-netty PRs, Label sec-docs PRs, Label tests PRs, Label tsc PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label fs2 PRs:
  label:
    add:
    - fs2
    remove: []

Label fs2-netty PRs:
  label:
    add:
    - fs2-netty
    remove: []

Label sec-docs PRs:
  label:
    add:
    - sec-docs
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Label tsc PRs:
  label:
    add:
    - tsc
    remove: []

Update munit to 1.3.3
  project/Dependencies.scala
Due: none

Update grpc-api, grpc-core, ... to 1.82.0
  project/Dependencies.scala
Due: none

Update sbt, scripted-plugin to 1.12.12
  project/build.properties
Due: none

Update sbt to 2.0.0
  project/build.properties
Due: none

Update sbt, scripted-plugin to 1.12.13
  project/build.properties
Due: none

ci: use kurrentdb 26.1
  .docker/images.env
Due: none

Update sbt to 2.0.1
  project/build.properties
Due: none

feat: client keepalive + reset retry budget on healthy reconnect
  core/src/main/scala/sec/api/options.scala
  fs2-netty/src/main/scala/sec/api/netty.scala
  fs2/src/main/scala/sec/api/builder.scala
  fs2/src/main/scala/sec/api/streams.scala
  tests/src/test/scala/sec/api/streams.scala
  tests/src/test/scala/sec/utilities.scala
  tsc/src/main/resources/reference.conf
  tsc/src/main/scala/sec/tsc/package.scala
Due: Label core PRs, Label fs2 PRs, Label fs2-netty PRs, Label tests PRs, Label tsc PRs

refactor: clarify withRetry reset comment and avoid Opts shadowing
  fs2/src/main/scala/sec/api/streams.scala
Due: Label fs2 PRs

Deploy website - based on b65e16d6edd04c0fdf59e81a8131b6af8834b969
  404.html
  assets/js/8ada5ce8.792906b3.js
  assets/js/8ada5ce8.dc2a280a.js
  assets/js/cddfc275.49ab96ca.js
  assets/js/cddfc275.8bd3e49a.js
  assets/js/runtime~main.28f76481.js
  assets/js/runtime~main.9abc89cf.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

feat: resubscribe on server-completed subscriptions + confirmation timeout
  core/src/main/scala/sec/api/options.scala
  fs2/src/main/scala/sec/api/client.scala
  fs2/src/main/scala/sec/api/opts.scala
  fs2/src/main/scala/sec/api/streams.scala
  tests/src/test/scala/sec/api/streams.scala
  tests/src/test/scala/sec/tsc/config.scala
  tsc/src/main/resources/reference.conf
  tsc/src/main/scala/sec/tsc/package.scala
Due: Label core PRs, Label fs2 PRs, Label tests PRs, Label tsc PRs

build: bump base version
  build.sbt
Due: none

Deploy website - based on b538016bbecafa690c310dca9340413ef35dbabe
  404.html
  assets/js/8ada5ce8.792906b3.js
  assets/js/8ada5ce8.9faee16d.js
  assets/js/cddfc275.06beedda.js
  assets/js/cddfc275.8bd3e49a.js
  assets/js/runtime~main.9abc89cf.js
  assets/js/runtime~main.f67d3d89.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

Deploy website - based on 40898b63c5d47fb93f096cb071b26a26b34bc65f
  404.html
  assets/js/8ada5ce8.6681e642.js
  assets/js/8ada5ce8.9faee16d.js
  assets/js/cddfc275.06beedda.js
  assets/js/cddfc275.e2a6777f.js
  assets/js/runtime~main.15246441.js
  assets/js/runtime~main.f67d3d89.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

perf: refresh cluster topology immediately on NotLeader
  fs2/src/main/scala/sec/api/builder.scala
  fs2/src/main/scala/sec/api/client.scala
  fs2/src/main/scala/sec/api/cluster/watch.scala
  fs2/src/main/scala/sec/api/opts.scala
  fs2/src/main/scala/sec/api/streams.scala
  tests/src/test/scala/sec/api/cluster/watch.scala
  tests/src/test/scala/sec/api/streams.scala
Due: Label fs2 PRs, Label tests PRs

Deploy website - based on 61cc276a13e05f2d8f99d98a1593b2b77bbc0067
  404.html
  assets/js/8ada5ce8.6681e642.js
  assets/js/8ada5ce8.a56f9bc9.js
  assets/js/cddfc275.3b997fdb.js
  assets/js/cddfc275.e2a6777f.js
  assets/js/runtime~main.15246441.js
  assets/js/runtime~main.640342e1.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

Deploy website - based on 2c131be79477354188737d419a668a5f3748c016
  404.html
  assets/js/8ada5ce8.a56f9bc9.js
  assets/js/8ada5ce8.dc27e7a1.js
  assets/js/cddfc275.3b997fdb.js
  assets/js/cddfc275.8cdde3ea.js
  assets/js/runtime~main.640342e1.js
  assets/js/runtime~main.b161a5d3.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

build: run steward config validation on JDK 21
  .github/workflows/ci.yml
  build.sbt
Due: none

feat: route subscriptions over a dedicated channel pool
  core/src/main/scala/sec/api/exceptions.scala
  docs/config.md
  fs2/src/main/scala/sec/api/builder.scala
  fs2/src/main/scala/sec/api/channel.scala
  fs2/src/main/scala/sec/api/client.scala
  fs2/src/main/scala/sec/api/pool/channels.scala
  fs2/src/main/scala/sec/api/pool/policy.scala
  fs2/src/main/scala/sec/api/pool/pool.scala
  fs2/src/main/scala/sec/api/streams.scala
  tests/src/sit/scala/sec/api/snsuite.scala
  tests/src/sit/scala/sec/api/streams/subscriptionPool.scala
  tests/src/test/scala/sec/api/pool/policy.scala
  tests/src/test/scala/sec/api/pool/pool.scala
  tests/src/test/scala/sec/tsc/config.scala
  tsc/src/main/scala/sec/tsc/package.scala
Due: Label core PRs, Label fs2 PRs, Label tests PRs, Label tsc PRs

feat: observe ops-channel saturation when subscription pool is active
  docs/config.md
  fs2/src/main/scala/sec/api/client.scala
  fs2/src/main/scala/sec/api/pool/counter.scala
  tests/src/test/scala/sec/api/pool/counter.scala
Due: Label fs2 PRs, Label tests PRs

test: make ClusterWatch change-emission test deterministic
  tests/src/test/scala/sec/api/cluster/watch.scala
Due: Label tests PRs

counter: unused import
  fs2/src/main/scala/sec/api/pool/counter.scala
Due: Label fs2 PRs

feat: subscription pool requires explicit opt-in via config
  docs/config.md
  tests/src/test/scala/sec/tsc/config.scala
  tsc/src/main/scala/sec/tsc/package.scala
Due: Label tests PRs, Label tsc PRs

refactor: replace default arguments with a named Limit.default
  docs/config.md
  fs2/src/main/scala/sec/api/pool/policy.scala
  tests/src/test/scala/sec/api/pool/policy.scala
  tests/src/test/scala/sec/tsc/config.scala
  tsc/src/main/scala/sec/tsc/package.scala
Due: Label fs2 PRs, Label tests PRs, Label tsc PRs

Deploy website - based on 5c016ebe4eb3a078e6e1264a224df3065f5f1566
  404.html
  assets/js/1295a66b.06c2b9c8.js
  assets/js/1295a66b.b0f249cf.js
  assets/js/8ada5ce8.61bae239.js
  assets/js/8ada5ce8.dc27e7a1.js
  assets/js/cddfc275.8cdde3ea.js
  assets/js/cddfc275.9010b002.js
  assets/js/runtime~main.232ccc00.js
  assets/js/runtime~main.b161a5d3.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

Update sbt to 2.0.2
  project/build.properties
Due: none

build: revert scala-steward job java version
  .github/workflows/ci.yml
  build.sbt
Due: none

Update sbt to 2.0.3
  project/build.properties
Due: none

fix: harden subscription channel pool
  fs2/src/main/scala/sec/api/pool/pool.scala
  tests/src/test/scala/sec/api/pool/pool.scala
Due: Label fs2 PRs, Label tests PRs

feat(tests): fault-injection suite against a real KurrentDB node
  .github/workflows/ci.yml
  build.sbt
  fs2/src/main/scala/sec/api/pool/pool.scala
  project/Dependencies.scala
  tests/src/fit/scala/sec/api/fsuite.scala
  tests/src/fit/scala/sec/api/streams/poolFaults.scala
  tests/src/test/scala/sec/api/pool/pool.scala
Due: Label fs2 PRs, Label tests PRs

spike: v2 AppendRecords against 26.1 via fit harness
  protobuf/kurrentdb/protocol/v2/streams/streams.proto
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
Due: Label tests PRs

spike: fix generated package import; silence lints in generated sources
  build.sbt
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
Due: Label tests PRs

spike: drop unused import
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
Due: Label tests PRs

spike: probe user-properties metadata mapping and structured error details
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
Due: Label tests PRs

feat: v2 error protocol - structured details to typed exceptions
  core/src/main/scala/sec/api/exceptions.scala
  core/src/main/scala/sec/api/grpc/convertV2.scala
  protobuf/kurrentdb/protocol/v2/rpc.proto
  protobuf/kurrentdb/protocol/v2/streams/errors.proto
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
  tests/src/test/scala/sec/api/grpc/convertV2.scala
Due: Label core PRs, Label tests PRs

test: use vendored Code enum in v2 convert suite
  tests/src/test/scala/sec/api/grpc/convertV2.scala
Due: Label tests PRs

test: vendored google.rpc.Status has singular details field
  tests/src/test/scala/sec/api/grpc/convertV2.scala
Due: Label tests PRs

feat: v2 multi-stream append model and proto mapping
  core/src/main/scala/sec/api/mapping/streamsV2.scala
  core/src/main/scala/sec/api/v2.scala
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
  tests/src/test/scala/sec/api/mapping/streamsV2.scala
Due: Label core PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label fs2 PRs: any of: ^fs2/
  Label fs2-netty PRs: any of: ^fs2-netty/
  Label sec-docs PRs: any of: ^sec-docs/
  Label tests PRs: any of: ^tests/
  Label tsc PRs: any of: ^tsc/
