Repository ahjohannessen/sec: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label fs2 PRs, Label fs2-netty PRs, Label sec-docs PRs, Label tests PRs, Label tsc PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label fs2 PRs:
  label:
    add:
    - fs2
    remove: []

Label fs2-netty PRs:
  label:
    add:
    - fs2-netty
    remove: []

Label sec-docs PRs:
  label:
    add:
    - sec-docs
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Label tsc PRs:
  label:
    add:
    - tsc
    remove: []

feat: multiStreamAppend on the Streams API
  core/src/main/scala/sec/api/mapping/streamsV2.scala
  fs2/src/main/scala/sec/api/client.scala
  fs2/src/main/scala/sec/api/streams.scala
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
  tests/src/test/scala/sec/api/mapping/streamsV2.scala
Due: Label core PRs, Label fs2 PRs, Label tests PRs

fix: thread clientV2 through withCredentials
  fs2/src/main/scala/sec/api/streams.scala
Due: Label fs2 PRs

fix: fit mapping test uses F-lifted decode directly
  tests/src/fit/scala/sec/api/streams/v2AppendSpike.scala
Due: Label tests PRs

feat: multi-stream append via the v2 protocol
  build.sbt
  core/src/main/scala/sec/api/exceptions.scala
  core/src/main/scala/sec/api/grpc/convertV2.scala
  core/src/main/scala/sec/api/mapping/streamsV2.scala
  core/src/main/scala/sec/api/multiAppend.scala
  fs2/src/main/scala/sec/api/client.scala
  fs2/src/main/scala/sec/api/streams.scala
  protobuf/kurrentdb/protocol/v2/rpc.proto
  protobuf/kurrentdb/protocol/v2/streams/errors.proto
  protobuf/kurrentdb/protocol/v2/streams/streams.proto
  tests/src/fit/scala/sec/api/streams/multiStreamAppend.scala
  tests/src/sit/scala/sec/api/streams/multiStreamAppend.scala
  tests/src/test/scala/sec/api/grpc/convertV2.scala
  tests/src/test/scala/sec/api/mapping/streamsV2.scala
Due: Label core PRs, Label fs2 PRs, Label tests PRs

test: mask the test mk acquire like the real one
  tests/src/test/scala/sec/api/pool/pool.scala
Due: Label tests PRs

docs: multi-stream append
  docs/multi-append.md
  website/sidebars.js
Due: none

Deploy website - based on 684832b792bb3480acf344f24be70d9370071756
  404.html
  assets/js/8eb6eb8e.9ded5009.js
  assets/js/8eb6eb8e.fbc836f4.js
  assets/js/935f2afb.33796d1f.js
  assets/js/935f2afb.34e691e6.js
  assets/js/a7f04343.396a4060.js
  assets/js/a7f04343.6f6c3c2d.js
  assets/js/d1724d09.67777ee5.js
  assets/js/main.6dc29370.js
  assets/js/main.6dc29370.js.LICENSE.txt
  assets/js/main.ffba1d8c.js
  assets/js/runtime~main.232ccc00.js
  assets/js/runtime~main.d599da3c.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/multi-append/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
  sitemap.xml
Due: none

feat: v2 multi-stream append (DCB) for KurrentDB 26.1
  core/src/main/scala/sec/api/cluster/endpoints.scala
  core/src/main/scala/sec/api/endpoint.scala
  core/src/main/scala/sec/api/exceptions.scala
  core/src/main/scala/sec/api/filter.scala
  core/src/main/scala/sec/api/gossip.scala
  core/src/main/scala/sec/api/grpc/convertV2.scala
  core/src/main/scala/sec/api/mapping/streams.scala
  core/src/main/scala/sec/api/mapping/streamsV2.scala
  core/src/main/scala/sec/api/multiAppend.scala
  core/src/main/scala/sec/api/options.scala
  core/src/main/scala/sec/api/streams.scala
  core/src/main/scala/sec/error.scala
  core/src/main/scala/sec/event.scala
  core/src/main/scala/sec/id.scala
  core/src/main/scala/sec/metadata.scala
  core/src/main/scala/sec/position.scala
  docs/multi-append.md
  fs2/src/main/scala/sec/api/metastreams.scala
  fs2/src/main/scala/sec/api/retries.scala
  fs2/src/main/scala/sec/api/streams.scala
  tests/src/fit/scala/sec/api/streams/multiStreamAppend.scala
  tests/src/main/scala/sec/arbitraries.scala
  tests/src/main/scala/sec/misc.scala
  tests/src/sit/scala/sec/api/streams/multiStreamAppend.scala
  tests/src/test/scala/sec/api/cluster/notifier.scala
  tests/src/test/scala/sec/api/grpc/convertV2.scala
  tests/src/test/scala/sec/api/mapping/streams.scala
  tests/src/test/scala/sec/api/mapping/streamsV2.scala
  tests/src/test/scala/sec/api/streams.scala
Due: Label core PRs, Label fs2 PRs, Label tests PRs

Deploy website - based on 334a3a0b2a89858fc43a4c1a779dfb78685e543a
  404.html
  assets/js/d1724d09.67777ee5.js
  assets/js/d1724d09.c8c19f70.js
  assets/js/runtime~main.16060e89.js
  assets/js/runtime~main.d599da3c.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/multi-append/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

refactor: drop multiStreamAppend default arg; remove Any-guard comments
  core/src/main/scala/sec/api/mapping/streamsV2.scala
  docs/multi-append.md
  fs2/src/main/scala/sec/api/streams.scala
Due: Label core PRs, Label fs2 PRs

Deploy website - based on a9a2e6396773bb135e38472524c96ebac6950b10
  404.html
  assets/js/d1724d09.2d8c9a83.js
  assets/js/d1724d09.c8c19f70.js
  assets/js/runtime~main.0a1daf20.js
  assets/js/runtime~main.16060e89.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/multi-append/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

feat: typed conditions for append consistency violations and mismatches
  core/src/main/scala/sec/api/exceptions.scala
  core/src/main/scala/sec/api/grpc/convertV2.scala
  core/src/main/scala/sec/api/streamCondition.scala
  docs/multi-append.md
  fs2/src/main/scala/sec/api/streams.scala
  tests/src/fit/scala/sec/api/streams/multiStreamAppend.scala
  tests/src/test/scala/sec/api/grpc/convertV2.scala
Due: Label core PRs, Label fs2 PRs, Label tests PRs

Deploy website - based on a0b6335189adf467cca8473405223fbda73f0669
  404.html
  assets/js/d1724d09.2d8c9a83.js
  assets/js/d1724d09.5883e514.js
  assets/js/runtime~main.0a1daf20.js
  assets/js/runtime~main.6909e7fd.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/multi-append/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

feat: full property values and typed InvalidRequest from BadRequest
  core/src/main/scala/sec/api/exceptions.scala
  core/src/main/scala/sec/api/grpc/convertV2.scala
  core/src/main/scala/sec/api/mapping/streamsV2.scala
  core/src/main/scala/sec/api/multiAppend.scala
  docs/multi-append.md
  protobuf/google/rpc/error_details.proto
  tests/src/main/scala/sec/arbitraries.scala
  tests/src/test/scala/sec/api/grpc/convertV2.scala
Due: Label core PRs, Label tests PRs

Deploy website - based on f2c758f1f1a2ed994b9c6fe76eb4295a32951a4c
  404.html
  assets/js/d1724d09.1b7d83ec.js
  assets/js/d1724d09.5883e514.js
  assets/js/runtime~main.3abcdc76.js
  assets/js/runtime~main.6909e7fd.js
  docs/client_api/index.html
  docs/config/index.html
  docs/deleting/index.html
  docs/index.html
  docs/metastreams/index.html
  docs/multi-append/index.html
  docs/reading/index.html
  docs/setup/index.html
  docs/subscribing/index.html
  docs/types/index.html
  docs/writing/index.html
  index.html
Due: none

Update sbt to 2.0.4
  project/build.properties
Due: none

Update sbt to 2.0.5
  project/build.properties
Due: none

Update sbt to 2.0.6
  project/build.properties
Due: none

Update sbt to 2.0.7
  project/build.properties
Due: none

Update sbt to 2.0.8
  project/build.properties
Due: none

Update sbt to 2.0.10
  project/build.properties
Due: none

Update README.md
  README.md
Due: none

ci: run cluster tests against KurrentDB 26.2 with a license key
  .docker/cluster.ci.yml
  .docker/images.env
  .docker/shared.env
  .github/workflows/ci.yml
  build.sbt
  tests/src/fit/scala/sec/api/fsuite.scala
Due: Label tests PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label fs2 PRs: any of: ^fs2/
  Label fs2-netty PRs: any of: ^fs2-netty/
  Label sec-docs PRs: any of: ^sec-docs/
  Label tests PRs: any of: ^tests/
  Label tsc PRs: any of: ^tsc/
